:root {
    --md-primary-fg-color: #ffa653;
    --md-primary-fg-color--dark: #3894ef;
    --md-accent-fg-color: #3894ef;
    --md-accent-fg-color--transparent: #3894ef19;
}
[data-md-color-scheme="slate"] {
    --md-hue: 209;
    --md-default-fg-color--lighter: #e0d2c5;
}
.sf-rounded {
    border-radius: 12px;
    overflow: hidden;
}
.sf-half {
    width: 50%;
}
.sf-fifth {
    width: 20%;
}
.sf-image-row {
    font-size: 0;
}
.sf-image-row img {
    display: inline-block;
    vertical-align: top;
}
.noWrap {
    text-wrap: nowrap
}